<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Blogpost</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <div class="navbar-minimal">
        <img src="images/logo.png">
      </div>
      
      <div class="banner">
      <div class="container">
          <h1>10 reasons to apply to Le Wagon BerLin</h1>
          <p>Or to any other cityies of Le Wagon</p>
      </div>
      </div>
          
    
    <div class="container">      
    <h2>Gender diversity is key at Le Wagon</h2>
        <p>Ellyn Bouscasse is a Full-Stack Development teacher at Le Wagon, who made her way to the institution after yearning for more than her university could offer. She hopes that as Le Wagon continues to grow, it will become an ambassador for women in tech, leading the way towards a technology industry without a gender gap.</p>
      
    <h2>What is your technical background?</h2>
        <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
      </div>
</body>
</html>