<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>SaaS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      
      <div class="main-container">
          <div class="sidebar">
              <ul>
                  <li><i class="fa fa-hashtag"></i> berlin</li>
                  <li><i class="fa fa-lock"></i> staff</li>
                  <li><i class="fa fa-lock"></i> marketing</li>
              </ul>
          </div>
          
          <div class="messages">
            <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
               <div class="message">
                <img src="images/seb.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>ssaunier <span>10:30 AM</span></h3>
                    <p>I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
              
            <div class="message">
                <img src="images/romain.jpg" class="avatar-slack">
                <div class="message-body">
                    <h3>romain <span>11:30 AM</span></h3>
                    <p>romain <strong>@channel</strong> I started with online MOOCs (Massive Open Online Course) about code and Blockchain and then attended Le Wagon myself.</p>
                </div>
            </div>
          </div>
          
          <div class="files">
              <h2> All Files</h2>
              <div class="file pdf">
              <i class="fa fa-file-pdf-o"></i>pitch-deck.pdf
              </div>
               <div class="file code">
              <i class="fa fa-file-code-o"></i>solution.rb
              </div>
               <div class="file pdf">
              <i class="fa fa-file-pdf-o"></i>lecture.pdf
              </div>
          </div>
      </div> 
</body>
</html>