/*-----Fonts and Colors----------*/
body{
    background: rgb(240,240,240);
    color: rgb(20,20,20);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #BB3B3C;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
    text-decoration: none;
    color: green;
}

/*Custom design*/
#banner{
    background-image: url("https://picsum.photos/1000/600/?random");
    padding: 150px 0;
    text-align: center;
    background-size: cover;
}

#banner h1{
    color:white;
}

#banner p{
    color:white;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
    
}

.card{
    text-align: center;
    padding: 50px;
}

#footer{
    color: white;
    background: black;
    font-size: 20px;
    padding: 50px;
}

#footer a{
    color:grey;
    font-size:18px;
}

#footer a:hover{
    color:white;
}





