.dashboard{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 300px 1fr 1fr 1fr;
    height: calc(100vh-70px);
}
.main{
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}
.description{
    grid-row:2 / span 1;
    grid-column: 2 / span 3;
}

@media(max-width:992px){
    .main{
        grid-row:1 / span 4;
        grid-column: span 2;
    }
    .description{
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
    }
}



.dashboard-card{
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}
.dashboard h2{
    font-size: 25px;
}
.dashboard h3{
    color: #378686;
    font-size: 25px;
    margin-bottom: 15px;
}
.dashboard p{
    color: rgba(0,0,0,0.5);
    font-size: 16px;
}
.dashboard img{
    border-radius: 50%;
}
.dashboard .btn{
    padding: 5px 10px;
    border-radius: 3px;
    border:none;
    width:100%;
    margin-top:30px;
    background: #378686;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.dashboard .btn:hover{
    background: #379686;
}