.main-container{
    display: flex;
    
}
.sidebar{
    flex:0 0 200px;
    background: rgba(77,57,75,1.00);
    height: 100vh;
    color: white;
}
.sidebar ul{
    list-style: none;
    padding-left:0px;
    margin-top: 30px;
}
.sidebar li{
    padding:10px 25px;
    font-weight: bolder;
}
.sidebar i{
    opacity: 0.5;
    width:15px;
}
.files{
    flex: 0 0 400px;
    font-weight: bolder;
    background: rgba(249,249,249,1.00);
    height: 100vh;
}
.files h2{
    font-size: 20px;
    margin:30px 20px;
}
.file{
    display: flex;
    padding:10px;
    margin:10px 20px;
    border:1px solid rgba(0,0,0,0.1);
    align-items: center;
}
.file i{
    font-size:30px;
    margin-right: 10px;
}
.file.pdf i{
    color: red;
}
.file.code i{
    color: rgba(119,170,225,1.00);
}
.messages{
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
}
.avatar-slack{
    width:40px;
    height: 40px;
    border-radius:5px;
}
.message{
    display:flex;
    margin: 30px;
}
.message-body{
    padding-left: 10px;
}
.message-body h3{
    font-size:15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.message-body p{
    margin-top: 0px;
    font-size: 15px;
}
.message-body span{
    font-weight: lighter;
    opacity: 0.5;
}
